:root {
  --primary-font: "Bebas Neue", cursive;
  --secondary-font: "Nunito Sans", sans-serif;
  --primary-color: lightblue;
  --secondary-color: black;
  --primary-background: white;
}

.top-border {
  height: 10px;
  width: 100%;
  background-color: rgb(29, 78, 95);
}

.home-link {
  text-decoration: none;
}

.website-name {
  background-color: var(--primary-background);
  height: 80px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--primary-font);
  font-size: 70px;
  color: var(--secondary-color);
}

.study-info {
  background-color: var(--primary-color);
  height: 1050px;
  width: 50%;
  float: left;
}

.section-name {
  font-size: 40px;
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: var(--primary-font);
}

.summary {
  background-color: rgb(210, 239, 240);
  height: 1050px;
  width: 50%;
  float: right;
}

.spot-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

button {
  background-color: rgb(0, 102, 150);
  display: block;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: none;
  margin: 0 20px 20px 0;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 20px;
}

button:hover {
  background-color: rgb(95, 147, 172);
}

.hours-title {
  font-family: var(--primary-font);
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.hour-desc {
  display: block;
  background-color: rgba(241, 240, 225, 0.74);
  height: 275px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  margin-top: 80px;
  font-family: var(--secondary-font);
}

.hour-desc-ul {
  display: block;
  background-color: rgba(241, 240, 225, 0.74);
  height: 275px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  font-family: var(--secondary-font);
}

.space-description {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 50px;
}

.description-title {
  font-family: var(--primary-font);
  font-size: 30px;
  padding-bottom: 10px;
}

.description-text {
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
  font-family: var(--secondary-font);
}

.accesibility-cat {
  height: 250px;
  background-color: rgb(29, 78, 95);
  margin: 20px;
}

.atmosphere-cat {
  height: 400px;
  background-color: rgb(29, 78, 95);
  margin: 20px;
}

.support-cat {
  height: 300px;
  background-color: rgb(29, 78, 95);
  margin: 20px;
}

.covid-cat {
  height: 250px;
  background-color: rgb(29, 78, 95);
  margin: 20px;
}

.rating-cat-name {
  text-align: center;
  padding-top: 20px;
  font-family: var(--primary-font);
  color: white;
  font-size: 25px;
}

.rating {
  background-color: white;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.rating-cat-subname {
  font-family: var(--primary-font);
  font-size: 20px;
}

.star-rating {
  font-family: var(--primary-font);
  font-size: 20px;
  text-align: right;
}

.yes-no {
  margin-top: 50px;
  background-color: rgba(252, 251, 243, 0.74);
  width: 75%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.rate-btn {
  text-decoration: none;
}

.yn-title {
  font-family: var(--primary-font);
  padding-top: 40px;
  font-size: 35px;
}

.yn-stats {
  font-family: var(--secondary-font);
  font-size: 17px;
}

.yn-stats a {
  font-weight: 700px;
  font-family: var(--primary-font);
  font-size: 20px;
}

.day {
  padding-bottom: 5px;
}
